@charset "UTF-8";
	#section_main{
		width: 100%;
		height: 90%;
	}
	#section_1{
	 	width: 100%;
	    height: 573px;
	     z-index: 3;
	}
	.img_wrap{
	    width: 100%;
	    height: 573px;
	    z-index: 3;
	}
	#section_2{
		width: 100%;
		height: 35%;
	}	
	#bg_tab{
		display: inline-block;
		width: 100%;
		height: 55%;
		background-image: url("/MyWeb/images/main/bg_product_tab01.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.container2{	
		float: left;
	    width: 20%;
	    height: 60%;
	    position: relative; 
	    top: 5%; left: 10%;
	}	
	#product_new{
		position: relative; 
	    top: 5%; left: 10%;
	}
	.img_wrap2{
		display: inline-block;
	    position: relative; 
	    top: -22%; left: 32%;
	}
	.rollimgs2{
		list-style: none;
	}
	#text_product{
		width:30%;
		height:50%;
		margin: 0 auto;
		text-align: center;
		margin-top: 5%;
	}	
	#text_product > h3{
		font-size: 46px;
		font-weight: bold;
	}
	#text_product h2{
		font-size: 24px;
		font-weight: normal;
	}
	.text_product{
		font-size: 30px;
	}
	#icon_product{
		display: inline-block;
		width:30%;
		height:30%;
		margin: 3% 35% 0 35%;
	}
	#icon_product li{
		float:left;
		list-style:none;
		text-align: center;
		margin-left: 5.5%;
	}	
	#icon_product a{
		text-decoration: none;
		color: #666;	
		font-weight: bold;
	}
	#list_product{
		width: 100%;
		height: 35%;
		padding: 0 5%;
		box-sizing: border-box;	
	}	
	#list_product li{
		float:left;
		list-style:none;
		text-align: center;
		margin-right: 0.5%;
	}	
	#list_product a{
		text-decoration: none; color: #666;	
	}	
	.text_1{
		font-size: 13px;
	}	
	.text_2{
		font-size: 17px; font-weight: bold;
	}	
	#section_3{
		display: inline-block;
		width: 100%;
		height: 45%;
		background-color: #feebd1;
	}	
	#text_community{
		width:100%;
		height:30%;
		margin: 0 auto;
		text-align: center;
	}	
	#text_community > h3{
		font-size: 46px;
		font-weight: bold;
	}
	#text_community h2{
		font-size: 24px;
		font-weight: normal;
	}
	#sns_community{
		width:25%;
		height:35%;
		display: inline-block;
		margin: 0 auto;		
	}
	
	#sns_community li{
		float:left;
		list-style:none;
		margin-left:5%;
		margin-top:5%;
	}
	
	#content_cm{
		width: 75%;
		height: 60%;
		margin: 0 auto; 
	}
	.text_3{
		font-size: 25px;
		font-weight: bold;
		color: #fff;
	}
	.text_4{
		font-size: 16px;
		color: #fff;
	}
	.text_5{
		font-size: 25px;
		font-weight: bold;
		color: #000000;
	}
	.text_6{
		font-size: 16px;
		color: #000000;
	}	
	#con1{
		float:left;
		width: 27.5%;
		height:30%;
		background-color: #fff;
		padding: 3%;
		box-sizing: border-box;	
	}
	#con2{
		float:left;
		width: 41.5%;
		height: 62.5%;
		background-image: url("/MyWeb/images/main/vod_bg.png");	
		margin: 0 auto;
		margin: 0 1.5%;
		padding: 3%;
		box-sizing: border-box;	
	}
	#con3{
		float:right;
		width: 27.5%;
		height:30%;
		background-color: #6fc8e9;
		padding: 3%;
		box-sizing: border-box;	
	}
	#con3_img1{
		position: relative;
		top: -10%;
	}	
	#con3_img2{
		position: relative;
		top: -10%;
		left: 35%;
	}
	#con4 {
		float: left;
		width: 27.5%;
		position: relative;
		left: 0;
		top: -30%;
	}
	#con5{
		float:right;
		width: 27.5%;
		height:30%;
		margin-top:1.5%;
		background-color: #fff;
		padding: 3%;
		box-sizing: border-box;	
	}

	#con6{
		float:left;
		width: 41.5%;
		height:30%;
		margin-left:1.5%;
		margin-top:1.5%;
		background-color: #91c749;		
		padding: 3%;
		box-sizing: border-box;	
	}	
	#con6_img1{
		position: relative;
		top: -90%;
	}	
	#con6_img2{
		position: relative;
		top: -90%;
		left: 45%;
	}	
	#con7{
		float:right;
		width: 27.5%;
		height:30%;
		margin-top:1.5%;
		background-color: #c38ef2;
		padding: 3%;
		box-sizing: border-box;	
	}
	#con7_img1{
		position: relative;
		top: -17%;
	}
	#con7_img2{
		position: relative;
		top: -15%;
		left: 40%;
	}
