@charset "UTF-8";

	header{
		width: 100%;
		height: 136px;
		border-top: 4px solid #ff6a00;
		border-bottom: 1px solid white;
	}
	#header_top_wrap{
		width: 100%;
		height: 45px;
		background-color: #f4f4f6;
	}
	
	#header_top{
		width: 75%;
		height: 45px;
		margin: 0 auto;
	}
	
	#slogan> p{
		display:inline-block;
		float: left;
		font-size: 13px;
		line-height: 45px;
		word-spacing: -3px;
		color: gray;
	}
	
	#slogan> p> strong{
		color: black;
	}
	#buttons{
		float: right;
		width:400px;
		height: 45px;
		line-height:45px;

	}
	#sns_link > ul{
		float:left;
	}

	#sns li{
		float:left;
		list-style: none;
		font-size: 16px;
	}
	
	#sns a{
		text-decoration: none;
		color: #111;	
		font-weight: bold;
	}
	
	
	#top_link > ul{
		float:right;
	}
	
	#top_link li{
		float:right;
		list-style: none;
		font-size: 16px;
		border : 1px solid black;
		border-radius: 5px;
	}
	
	#top_link a{
		text-decoration: none;
		color: #111;	
		font-weight: bold;
	}
	#header_body_wrap{
		width: 100%;
		height: 95px;
	}
	#header_body{
		width: 75%;
		height: 95px;
		margin: 0 auto;
	}
	
	.header_menu{
		display: inline-block;
	}
	
	#header_logo > img{
		padding: 20px 0 24px 0;
		box-sizing: border-box;
	}
	
	#header_nav{
		float: right;
		width: 824px;
		height: 65px;
		padding: 15px 0;
	}	
		
	#header_nav li{
		float: right;
		list-style: none;
		line-height: 67px;
		font-size: 20px;
		border:1px solid black;
	}
	
	#header_nav a{
		text-decoration: none;
		color: #111;	
		font-weight: bold;
	}
	
	
	
	#section_1{
		width: 100%;
		height: 573px;
		background-color: maroon;
	}
	
	#section_2{
		width: 100%;
		height: 945px;
		background-color: #fff;
	}
	
	#section_3{
		width: 100%;
		height: 1070px;
		background-color: #feebd1;
	}
	
	#footer_main{
		width: 100%;
		height: 184px;
		background-color: #fff;
	}
