@charset "UTF-8";

	header{
		width: 100%;
		height: 136px;
		border-top: 4px solid #ff6a00;
		border-bottom: 1px solid white;
	}
	#header_top_wrap{
		width: 100%;
		height: 45px;
		background-color: #f4f4f6;
	}
	
	#header_top{
		width: 75%;
		height: 45px;
		margin: 0 auto;
	}
	
	#slogan> p{
		display:inline-block;
		float: left;
		font-size: 13px;
		line-height: 45px;
		word-spacing: -3px;
		color: gray;
	}
	
	#buttons{
		float: right;
		width:390px;
		line-height: 45px;
	}

	#sns li{
		float:left;
		list-style:none;
		margin-right: 15px;
	}
			
	.top_li_2{
		float:right;
		list-style:none;
		font-size: 12px;
		line-height:23px;
		border : 1px solid #c0c0c0;
		border-radius: 5px;
		padding: 0 9px;
		box-sizing: border-box;
		margin: 10px 0 0 5px;
		background-color: white;
	}
	
	.top_li_1{
		float:right;
		list-style:none;
		line-height:23px;
		margin-left: 5px;
		padding: 9px 0;
		box-sizing: border-box;
	}
	
	.top_li_1 select{
		background-color: #f4f4f6;
		border-color: #c0c0c0;
		border-radius: 5px;
		font-size: 12px;
		color: #666;
		height: 23px;	
	}
	
	#top_link a{
		text-decoration: none;
		color: #666;	
		font-weight: bold;
	}
	
	#header_body_wrap{
		width: 100%;
		height: 95px;
	}
	#header_body{
		width: 75%;
		height: 95px;
		margin: 0 auto;
	}
	
	.header_menu{
		display: inline-block;
	}
	
	#header_logo img{
		padding: 20px 0 24px 0;
		box-sizing: border-box;
	}
	
	#header_nav{
		float: right;
		width: 824px;
		height: 65px;
		padding: 15px 0;

	}	
	
	#header_nav li{
		float: right;
		list-style: none;
		line-height: 67px;
		font-size: 18px;
		margin: 10px 0 0 100px;
	}
	
	#header_nav a{
		text-decoration: none;
		color: #111;	
		font-weight: bold;
	}

	#header_nav a:hover{
		color: red;	
	}	
	
	#footer_main{
		width: 100%;
		height: 184px;
		background-color: #fff;
	}
	
	#footer_wrap{
	
		width : 75%;
		height: 184px;
		margin: 0 auto;
		background-color: blue;
	}
	
	#ft_logo{
		float: left;
		margin-right: 33px;
	}
	#ft_menu{
		float: left;
		width: 488px;
		height: 58px;
		background-color: red;
	}
	
	#ft_site{
		float: right;
		width: 223px;
		height: 58px;
	}
	#ft_site > select{
		width: 223px;
		padding: 3px;
		box-sizing: border-box;
		background-color: #4a4a4a;
		color: #a9a9a9;
		border: none;
	}
	
	
	
